body {
  background-color: lightblue;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
}


.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: whitesmoke;
  border: 1px solid black;
}

.highlight {
  background-color: lightgreen;
  display: inline-block;
  text-align: center;
}

.container {
  margin-bottom: 20px;
}

.card {
  margin-top: 20px;
  background-color: whitesmoke;
  border: 1px solid black;
}

.card-title {
  text-decoration: underline;
  
}

.card-title:hover {
  cursor: pointer;
  color: #0088cc;
}



#c-reveal, #javascript-reveal, #python-reveal {
  display: none;
  margin-bottom: 50px;
  text-align: center;
}

