h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
}



.highlight {
  background-color: lightgreen;
  width: fit-content;
}



#c-reveal, #javascript-reveal, #python-reveal {
  display: none;
  margin-bottom: 50px;
}

