body {
  background-color: lightblue;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
}

h2 {
  text-align: center;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: whitesmoke;
  border: 1px solid black;
}

.btn {
  margin-top: 20px;
  border: solid 1px black;
  background-color: #dde1e6;
}

.btn:hover {
  background-color: #a7a2a2;
}

.highlight {
  background-color: lightgreen;
  display: inline-block;
  text-align: center;
  text-decoration: underline;
}

.container {
  margin-bottom: 20px;
}

.card {
  margin-top: 20px;
  background-color: whitesmoke;
  border: 1px solid black;
}

.card-title {
  text-decoration: underline;
  
}


#c-reveal, #javascript-reveal, #python-reveal {
  display: none;
  margin-bottom: 50px;
  text-align: center;
}

